<div class="container custom-height">
  <div class="card mb-4 w-75 mx-auto" *ngIf="user">
    <div class="card-body text-center">
      <h2 class="card-title">Account Information</h2>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Name: {{ user.name }}</li>
        <li class="list-group-item">Email: {{ user.email }}</li>
        <li class="list-group-item">Phone: {{ user.phone }}</li>
        <li class="list-group-item">Major: {{ user.major }}</li>
        <li class="list-group-item">Graduation Year: {{ user.graduationYear }}</li>
      </ul>
    </div>

    <div class="text-center mt-4">
      <h3>My Listings</h3>
    </div>
    <div style="height: 20px;"></div>

    <div class="row no-gutters justify-content-center" *ngFor="let listing of listings">
      <div class="col-md-4">
        <div class="card-body">
          <h5 class="card-title text-center">
            <a [routerLink]="['/listing-details', listing.listingId]">{{ listing.title }}</a>
          </h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Description: {{ listing.description }}</li>
            <li class="list-group-item">Address: {{ listing.address }}</li>
            <li class="list-group-item">Price: {{ listing.price }}</li>
            <li class="list-group-item">City: {{ listing.city }}</li>
            <li class="list-group-item">State: {{ listing.state }}</li>
            <li class="list-group-item">ZIP: {{ listing.zip }}</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <img [src]="listing.image" class="card-img img-fluid" alt="{{ listing.title }}">
      </div>
    </div>
  </div>
</div>
