.container-dashboard {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-image: linear-gradient(45deg, #ff9a9e, #fad0c4, #fbc2eb);
}

.wrap-dashboard {
  width: 80%;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 40px 30px;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  margin-top: 2em;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.dashboard-header h1 {
  font-size: 2em;
  color: #333;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col-sm-4 {
  margin-bottom: 20px;
}

.card {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  padding: 20px;
  border: 1px solid #d9d9d9;
}

.card-body {
  text-align: center;
}

.card-img-top {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.card-title {
  margin-top: 20px;
  font-size: 1.5em;
  color: #333;
}

.dashboard-title {
  text-align: center;
  width: 100%;
}

.card-text {
  color: #666;
}

.btn {
  font-size: 16px;
  color: #000;
  line-height: 1.2;
  text-transform: uppercase;
  background-image: linear-gradient(45deg, #ff9a9e, #fad0c4, #fbc2eb);
  background-size: 200% 100%;
  background-position: 100% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 50%;
  height: 40px;
  border-radius: 25px;
  padding: 0;
  cursor: pointer;
  outline: none;
  border: none;
  text-align: center;
  transition: all 0.4s ease;
  margin: auto;
}

.btn:hover {
  background-position: 0 0;
  background-color: #ff0000;
  color: #fff;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

