<!-- student-dashboard.component.html -->
<div class="container-dashboard">
  <div class="wrap-dashboard">
    <div class="dashboard-header">
      <h1>Student Dashboard</h1>
      <div class="dashboard-links">
        <a routerLink="/listings/add">Add Listing</a>
        <a routerLink="/listings">Find a roommate</a>
      </div>
    </div>

    <!-- Add the postcards for the listings here -->
    <div *ngIf="listings?.length && listings.length > 0; else noListings">
      <div class="dashboard-listing" *ngFor="let listing of listings">
        <img src="path/to/your/image" alt="{{ listing.title }}" />
        <h2>{{ listing.title }}</h2>
        <p>Price: {{ listing.price }}</p>
      </div>
    </div>
    <ng-template #noListings>
      <p>No listings found</p>
    </ng-template>
  </div>
</div>
