<nav class="navbar navbar-expand-lg navbar-custom">
  <div class="container">
    <a class="navbar-brand" href="student-dashboard"><b>CSUN Off-Campus Housing Portal</b></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" class="nav-link active">|</li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="add-listing">Add a Listing</a>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto">
        <li class="nav-item" *ngIf="isAuthenticated">
          <a class="nav-link" [routerLink]="['/account']">Account</a>
        </li>
        <li class="nav-item" *ngIf="isAuthenticated">
          <a class="nav-link" style="cursor: pointer;" (click)="logout()">Logout</a>
        </li>
        <li class="nav-item" *ngIf="!isAuthenticated">
          <a class="nav-link" [routerLink]="['/login']">Sign In</a>
        </li>
        <li class="nav-item" *ngIf="!authService.isAuthenticated()">
          <span class="nav-link">|</span>
        </li>
        <li class="nav-item" *ngIf="!authService.isAuthenticated()">
          <a class="nav-link" routerLink="signup">Sign Up</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="full-gradient-background">
  <router-outlet></router-outlet>
</div>
