<div class="container-login">
  <div class="wrap-login">
    <span class="login-form-title">
      Student Registration
    </span>
    <form [formGroup]="signupForm" (ngSubmit)="onSignUp()" class="login-form">
      <div class="wrap-input" [class.has-error]="signupForm.get(field.name)?.invalid && signupForm.get(field.name)?.touched" *ngFor="let field of signupFields">
        <input [type]="field.type" formControlName="{{field.name}}" class="input" [placeholder]="field.placeholder">
        <span class="focus-input"></span>
        <div *ngIf="signupForm.get(field.name)?.invalid && signupForm.get(field.name)?.touched" class="form-group-error">
          <small class="text-danger">{{ getFieldErrorMessage(field.name) }}</small>
        </div>
      </div>

      <div class="form-group">
        <div class="form-check">
          <input type="checkbox" formControlName="termsOfService" id="termsOfService" class="form-check-input">
          <label class="form-check-label" for="termsOfService">I agree to the Terms of Service</label>
        </div>
      </div>
      <div *ngIf="signupForm.get('termsOfService')?.invalid && signupForm.get('termsOfService')?.touched" class="form-group-error">
        <small class="text-danger">You must agree to the Terms of Service</small>
      </div>

      <div class="container-login-form-btn">
        <button class="login-form-btn" type="submit" [disabled]="signupForm.invalid">Register</button>
      </div>

      <div class="text-center" style="padding-top: 16px;">
        <span class="txt1">
          Already have an account?
        </span>
        <a href="/login" class="txt2">
          Login
        </a>
      </div>
    </form>
  </div>
</div>
